@import "bourbon/_bourbon.scss";

// vendor prefix
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

// old css from the FTC web app
@import "s.scss";
@import "table.scss";